<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <div class="py-5 text-center">
            <h2>테이블 정보</h2>
        </div>
            <table th:if="${storeTableFindDto.orderId != null}" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>주문 번호</th>
                    </tr>
                </thead>
                <tbody th:if="${storeTableFindDto.orderId != null}" th:onclick="|location.href='@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/{orderId}(memberId = ${memberId}, storeId = ${storeTableFindDto.storeId}, storeTableId = ${storeTableFindDto.id}, orderId = ${storeTableFindDto.orderId})}'|">
                    <td th:text="${storeTableFindDto.orderId}"></td>
                </tbody>
            </table>

    </div>

    <div th:if="${storeTableFindDto.orderId == null}" class="jumbotron">
        <button class="w-75 btn btn-primary btn-lg"
                th:onclick="|location.href='@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/new(memberId = ${memberId}, storeId = ${storeTableFindDto.storeId}, storeTableId = ${storeTableFindDto.id})}'|"
                type="button">주문하기
        </button>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div>

</body>
</html>
