<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:action="@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/{orderId}/orderItems/new(memberId = ${memberId}, storeId = ${storeId}, storeTableId = ${storeTableId}, orderId = ${orderId})}" th:object="${orderItemCreationForm}" method="post">
        <div class="form-group">

            <div class="py-5 text-center">
                <h2>상품 추가</h2>
            </div>

            <div>상품 선택</div>
            <select id="itemId" name="itemId" class="form-select" th:onchange="displayPriceAndStock()">
                <option value="">상품 선택</option>
                <option th:each="item : ${itemDtos}" th:value="${item.id}" th:text="${item.name}">상품명</option>
            </select>

            <div class="form-group">
                <label th:for="price">가격</label>
                <input th:field="*{price}" type="number" class="form-control" placeholder="가격을 입력하세요."
                       th:class="${#fields.hasErrors('price')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">부적절한 가격입니다.</p>
            </div>

            <div class="form-group">
                <label th:for="count">수량</label>
                <input th:field="*{count}" type="number" class="form-control" placeholder="수량을 입력하세요."
                       th:class="${#fields.hasErrors('count')}? 'form-control fieldError' : 'form-control'">
                <p id="stock"></p>
                <p th:if="${#fields.hasErrors('count')}" th:errors="*{count}">부적절한 수량입니다.</p>
            </div>

        </div>

        <button type="submit" class="btn btn-success">완료</button>
    </form>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let itemDtos = /*[[${itemDtos}]]*/ 'default';
        /*]]>*/

        // function displayPrice() {
        function displayPriceAndStock() {
            let itemId = document.getElementById("itemId").value;

            itemDtos.forEach(function (item) {
                if (item.id == itemId) {
                    document.getElementById("price").value = item.price;
                    document.getElementById("stock").textContent = "현재 재고는 " + item.stock + "개 입니다."
                    console.log("set");
                }
            });
        }
    </script>

    <br/>
    <div th:replace="fragments/footer :: footer" />

</div>

</body>
</html>
