<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

<!--결제 중단 버튼-->
    <div>
        <button class="w-75 btn btn-primary btn-lg" th:href="@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/{orderId}/payments/{paymentId}/cancel(memberId = ${memberId}, storeId = ${storeId}, storeTableId = ${storeTableId}, orderId = ${orderId}, paymentId = ${paymentFindDto.id})}">결제 중단</button>
    </div>

    <div>
        <div class="py-5 text-center">
            <h2>결제</h2>
        </div>

        <h3>주문 내역</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>상품 이름</th>
                    <th>상품 가격</th>
                    <th>상품 수량</th>
                    <th>주문 일시</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderItemFindDto : ${orderItemFindDtos}">
                    <td th:text="${orderItemFindDto.itemName}"></td>
                    <td th:text="${orderItemFindDto.price}"></td>
                    <td th:text="${orderItemFindDto.count}"></td>
                    <td th:text="${orderItemFindDto.orderedTime}"></td>
            </tbody>
        </table>
    </div>

    <h3>결제 현황</h3>
    <h4>총 금액</h4>
        <p th:text="${paymentFindDto.initialPaymentAmount}"></p>
    <h4>남은 결제 금액</h4>
        <p th:text="${paymentFindDto.initialPaymentAmount - paymentFindDto.paidPaymentAmount}"></p>

    <!--지금까지 결제한 현황-->
    <!--paymentMethods를 보여주자-->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>결제 수단</th>
                <th>결제 금액</th>
                <th>결제 일시</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paymentMethodDto : ${paymentMethodDtos}">
                <td th:text="${paymentMethodDto.paymentMethodType}"></td>
                <td th:text="${paymentMethodDto.paymentMethodAmount}"></td>
                <td th:text="${paymentMethodDto.paymentMethodCompleteDateTime}"></td>
        </tbody>
    </table>

<!--결제 수단 선택-->
    <button class="w-75 btn btn-primary btn-lg" th:href="@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/{orderId}/payments/{paymentId}/paymentMethods/new(memberId = ${memberId}, storeId = ${storeId}, storeTableId = ${storeTableId}, orderId = ${orderId}, paymentId = ${paymentFindDto.id})}">결제 수단 선택</button>




<!--    <h3>총 합계</h3>-->
<!--    <form th:action="@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/{orderId}/payments/{paymentId}/new(memberId = ${memberId}, storeId = ${storeId}, storeTableId = ${storeTableId}, orderId = ${orderId}, paymentId = ${paymentViewDto.id})}" th:object="${paymentCreationForm}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label th:for="desiredPaymentAmount">총 합계</label>-->
<!--            <input id="desiredPaymentAmount" name="desiredPaymentAmount" type="number" class="form-control" placeholder="총 합계를 입력하세요."-->
<!--                   th:value="${paymentViewDto.initialPaymentAmount}"-->
<!--                   th:class="${#fields.hasErrors('desiredPaymentAmount')}? 'form-control fieldError' : 'form-control'">-->
<!--            <p>할인을 원하는 경우 총 합계를 수정해주세요.</p>-->
<!--            <p th:if="${#fields.hasErrors('desiredPaymentAmount')}" th:errors="*{desiredPaymentAmount}">부적절한 합계입니다.</p>-->
<!--        </div>-->
<!--        <button class="btn btn-secondary" th:href="@{/members/{memberId}/stores/{storeId}/storeTables/{storeTableId}/orders/{orderId}/payments/{paymentId}/cancel(memberId = ${memberId}, storeId = ${storeId}, storeTableId = ${storeTableId}, orderId = ${orderId}, paymentId = ${paymentViewDto.id})}">결제 취소</button>-->
<!--        <button type="submit" class="btn btn-success">완료</button>-->
<!--    </form>-->

    <br/>
    <div th:replace="fragments/footer :: footer" />

</div>

</body>
</html>
